*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
}


.naviba {
  position: fixed;
  background-color: white;
  font-size: 16px;
  line-height: 150px;
  width: 100px;
  text-align: center;

}

.naviba li {
  transition: 0.6s;

}

.naviba a:hover{
  background-color: black;
  transition: 0.3s;
  padding: 10px;
  border-radius: 40%;
  color: white;
}

.naviba:hover > :not(:hover){
  font-size: 10px;
  opacity: 0.2;
}

.top {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  background-color: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  margin-left: -46%;
  
}

.top > li {
  flex-grow: 1;
  width: 100%;
}

.top li {
  text-align: center;
}
.top ul {
  display: flex;
  text-align: center;
}
.top > li:nth-child(3) > ul > li {
  margin-left: 40px;
}

#container_1 {
  height: 90.6vh;
  background-color: aqua;
  width: 80%;
  margin: auto;
  font-size: 20px;
  position: relative;
}

#container_1 ul {
  margin-top: 6%;
}
#container_1 > ul > li:first-child {
  overflow: hidden;
}
.movie_img > li > div > ul:first-child img {
  width: 350px;
  height: 450px;
  border-radius: 5%;
}
.movie_img {
  position: absolute;
  left: 25%;
}

.movie_img li {
  position: absolute;
  transform: translate(-50%, 0%);
}
.text_box{
  background-color: black;
  width: 350px;
  height: 450px;
  opacity: 0;
  cursor: pointer;
  border-radius: 5%;
  align-content: center;
  text-align: center;
}

.text_box:hover {
  opacity: 1;
  transition: 0.4s;
  opacity: 0.7;
}
.movie_img p {
    font-size: 30px;
    color: white;
}

.icon {
  position: relative;
  z-index: 999;
}

.icon li:nth-child(1) img {
  position: absolute;
  width: 40px;
  top: 198px;
  left: 180px;
  filter: opacity(0.5) drop-shadow(0 0 0 #000000);
}
.icon li:nth-child(2) img {
  position: absolute;
  width: 40px;
  top: 198px;
  right: 180px;
  filter: opacity(0.5) drop-shadow(0 0 0 #000000);
}

.icon img:hover{
  border-radius: 30px;
  background-color: black;
}